<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar: The last airbender</title>
  </head>
  <body>
  <div id="app">
    <p v-if="charactersList.length > 0">There are {{charactersList.length}} characters</p>
    <p v-else>There are no characters</p>
    <ul>
      <li v-for="character in charactersList">
        {{ character.name }}
      </li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    Vue.createApp({
      data: () => ({
        charactersList: [
          {
            name: "Aang"
          },
          {
            name: "Zuko"
          },
          {
            name: "Toph"
          },
          {
            name: "Katara"
          }
        ]
      })
    }).mount('#app');

  </script>
  </body>
</html>
